@import '/src/utils/variables.scss';

.btn {
    display: inline-block;
    width: 100%;
    max-width: 280px;
    padding: var(--btn-padding);
    border-radius: 8px;
    background-color: $main-color;
    color: $white-color;
    text-align: center;
    @include font($fs-middle);
    transition: color 0.3s;

    &:hover {
        background-color: rgba($main-color, 0.8);
    }

    &:disabled {
        background-color: $gray-color;
        cursor: default;
    }
}
