$font-family: 'Inter';
$fs-h1: 20px;
$fs-h2: 16px;
$fs-h3: 15px;
$fs-middle: 13px;
$fs-default: 12px;
$fs-small: 11px;
$fs-min: 9px;
$fs-micro: 8px;

$white-color: #ffffff;
$black-color: #1e1e1e;
$gray-color: #999999;
$blue-color: #3369f3;
$light-blue-color: #E4EDFD;
$dark-blue-color: #385398;
$error-color: #ff2f2f;

@mixin font($fs: $fs-default, $fw: 500) {
    font-family: $font-family;
    font-style: normal;
    font-weight: $fw;
    font-size: $fs;
    line-height: 1;
}
