<div class="modal">
    <form action="" class="modal__inner">
        <h1 class="modal__head text-h1">Регистрация</h1>
        <div class="modal__body">
            {{> FormField id='email' name='email' label='Почта' type='email' }}
            {{> FormField id='login' name='login' label='Логин' }}
            {{> FormField id='first_name' name='first_name' label='Имя' }}
            {{> FormField id='second_name' name='second_name' label='Фамилия' }}
            {{> FormField id='phone' name='phone' label='Телефон' type='tel' }}
            {{> FormField id='password' name='password' label='Пароль' type='password' }}
            {{> FormField id='password_confirm' name='password_confirm' label='Пароль (ещё раз)' type='password' }}
        </div>
        <div class="modal__footer">
            {{> Button text='Зарегистрироваться' type='submit' }}
            {{> Link href='/login.html' text='Войти' classes='modal__footer-link text-h5' }}
        </div>
    </form>
</div>
