<div class="error-page">
    <h1 class="error-page__title">404</h1>
    <div class="text-h1">Не туда попали</div>
    {{>Link href='/' text='Назад к чатам' classes='error-page__link text-h5' }}
</div>
